
@{
    ViewBag.Title = "StudentLogin";
}

@model LearningManagementSystem.Models.Student

@{
    ViewBag.Title = "Index";
}
<style>
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

        .login-page .form .login {
            margin-top: -31px;
            margin-bottom: 26px;
        }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form .Button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background-color: #f2f2f2;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            margin-bottom: 10px
        }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #4CAF50;
                text-decoration: none;
            }


    body {
        background-color: #091b1a;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>LOGIN</h3>
                    <p>Please enter your credentials to login.</p>
                    <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                </div>
            </div>
            <form class="login-form">

                @Html.EditorFor(model => model.stdid, new { htmlAttributes = new { placeholder = "Enter your id" } })
                @Html.ValidationMessageFor(model => model.stdid, "", new { @class = "text-danger" })
                @Html.PasswordFor(model => model.SPassword, new { placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.SPassword, "", new { @class = "text-danger" })
                <input type="submit" value="Login" class="btn btn-default" />
            </form>
        </div>
    </div>

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


