@model IEnumerable<LearningManagementSystem.Models.registraton>

@{
    ViewBag.Title = "Index";
}

<style>


    a {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: white;
    }

    tr th {
        color:white
    }
    td{
        color:white;
    }

    body {
        margin-top:20px;
        background-color: #091b1a;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cours.Cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cours.Cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.TName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Regid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Regid })
        </td>
    </tr>
}

</table>
